[user]
	email = <stellae.incaelis@gmail.com>
	name = of-the-stars

[diff]
	tool = nvimdiff

[merge]
	; ff = no
	; commit = no
	tool = nvimdiff
	conflictstyle = diff3

[mergetool]
	prompt = true
	keepBackup = false

[mergetool "nvimdiff"]
	layout = "LOCAL,BASE,REMOTE / MERGED"
