@import "./mocha.css";
* {
  /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
  font-family: "RobotoMono Nerd Font", sans-serif;
  font-size: 15px;
  transition: background-color 0.3s ease-out;
}

window#waybar {
  background: alpha(@crust, 0.75);
  color: @text;
  font-family:
    RobtoMono Nerd Font,
    feather;
  transition: background-color 0.5s;
}

.modules-left,
.modules-center,
.modules-right {
  background: alpha(@mantle, 0.7);
  margin: 5px 10px;
  padding: 0 5px;
  border-radius: 0px;
}
.modules-left {
  padding: 0;
}
.modules-center {
  padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
  padding: 0 10px;
  border-radius: 0px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
  background: alpha(@blue, 0.9);
}

#workspaces button {
  background: alpha(@mantle, 0.5);
  font-family:
    RobotoMono Nerd Font,
    feather;
  font-weight: 900;
  font-size: 13pt;
  color: @text;
  border: none;
  border-radius: 0px;
}

#workspaces button.active {
  background: alpha(@overlay2, 0.5);
}

#workspaces button:hover {
  background: alpha(@blue, 1);
  color: #cdd6f4;
  box-shadow: none;
}

#custom-nix {
  margin-left: 5px;
  padding: 0 10px;
  font-size: 25px;
  transition: color 0.5s;
}
#custom-nix:hover {
  color: @sapphireAlpha;
}
