#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    cache_dir: None,
    center_current_song_on_change: true,
    duration_format: "%M:%S",
    enable_config_hot_reload: true,
    enable_lyrics_index: true,
    enable_mouse: true,
    lyrics_dir: "~/.lyrics",
    max_fps: 30,
    on_song_change: ["~/.config/rmpc/notify.sh"],
    password: None,
    scrolloff: 0,
    select_current_song_on_change: true,
    status_update_interval_ms: 1000,
    theme: None, // "catppuccin",
    volume_step: 5,
    wrap_navigation: false,
    album_art: (
        method: Auto,
        max_size_px: (width: 1000, height: 1000),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
    ),
    song_table_format: [
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            label_prop: (kind: Text("Title")),
            width: "40%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "white"),
                default: (kind: Text("Unknown Album"), style: (fg: "white"))
            ),
            label_prop: (kind: Text("Album")),
            width: "25%",
        ),
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            label_prop: (kind: Text("Artist")),
            width: "20%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            label_prop: (kind: Text("Duration")),
            width: "15%",
            alignment: Right,
        ),
    ],
    keybinds: (
        global: {
            ":":       CommandMode,
            ",":       VolumeDown,
            "s":       Stop,
            ".":       VolumeUp,
            "<Tab>":   NextTab,
            "<S-Tab>": PreviousTab,
            "1":       SwitchToTab("Now Playing"),
            "2":       SwitchToTab("Albums"),
            "3":       SwitchToTab("Search"),
            "4":       SwitchToTab("Playlists"),
            "5":       SwitchToTab("Artists"),
            // "6":       SwitchToTab("Album Artists"),
            // "7":       SwitchToTab("Directories"),
            "q":       Quit,
            ">":       NextTrack,
            "p":       TogglePause,
            "<":       PreviousTrack,
            "f":       SeekForward,
            "z":       ToggleRepeat,
            "x":       ToggleRandom,
            "c":       ToggleConsume,
            "v":       ToggleSingle,
            "b":       SeekBack,
            "?":       ShowHelp,
            "I":       ShowCurrentSongInfo,
            "O":       ShowOutputs,
            "P":       ShowDecoders,
        },
        navigation: {
            "k":         Up,
            "j":         Down,
            "h":         Left,
            "l":         Right,
            "<Up>":      Up,
            "<Down>":    Down,
            "<Left>":    Left,
            "<Right>":   Right,
            "<C-k>":     PaneUp,
            "<C-j>":     PaneDown,
            "<C-h>":     PaneLeft,
            "<C-l>":     PaneRight,
            "<C-u>":     UpHalf,
            "N":         PreviousResult,
            "a":         Add,
            "A":         AddAll,
            "r":         Rename,
            "n":         NextResult,
            "g":         Top,
            "<Space>":   Select,
            "<C-Space>": InvertSelection,
            "G":         Bottom,
            "<CR>":      Confirm,
            "i":         FocusInput,
            "J":         MoveDown,
            "<C-d>":     DownHalf,
            "/":         EnterSearch,
            "<C-c>":     Close,
            "<Esc>":     Close,
            "K":         MoveUp,
            "D":         Delete,
        },
        queue: {
            "D":       DeleteAll,
            "<CR>":    Play,
            "<C-s>":   Save,
            "a":       AddToPlaylist,
            "d":       Delete,
            "i":       ShowInfo,
            "C":       JumpToCurrent,
        },
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "title",       label: "Title"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            // (value: "albumartist", label: "Album Artist"),
            // (value: "filename",    label: "Filename"),
            // (value: "genre",       label: "Genre"),
        ],
    ),
    cava: (
        input: (
            method: Pipewire,
            source: "auto",
        ),
        /* smoothing: (
            noise_reduction: 77, // default 77
            monstercat: false, // default false
            waves: false, // default false
        ), */
        eq: []
    ),
    tabs: [
        (
            name: "Now Playing",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (size: "33%", pane: Split(
                        direction: Vertical, 
                        panes: [
                            (size: "70%", pane: Pane(AlbumArt)),
                            (size: "30%", pane: Pane(Lyrics)),
                            ],
                        ),
                    ),
                    (size: "67%", pane: Split(
                        direction: Vertical,
                        panes: [
                            (size: "100%", pane: Pane(Queue)),
                            // (size: "1", pane: Pane(ProgressBar)),
                        ],
                    ))
                ],
            ),
        ),
        (
            name: "Albums",
            pane: Pane(Albums),
        ),
        (
            name: "Search",
            pane: Pane(Search),
        ),
        (
            name: "Playlists",
            pane: Pane(Playlists),
        ),
        (
            name: "Artists",
            pane: Pane(AlbumArtists),
        ),
        /*
        (
            name: "Artists",
            pane: Pane(Artists),
        ),
        */
        /*
        (
            name: "Directories",
            pane: Pane(Directories),
        ),
        */
    ],
)

